.main {
  margin-top: 48px;
  margin-bottom: 48px;
}
.main__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-search {
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 480px;
  background-color: #ffffff;
  gap: 24px;
  box-shadow: 0px 2px 9px 0px #0000000e;
  padding: 18px;
}
.main-search h3 {
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #848484;
}
.main-select{
  width: 200px;
height: 56px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;

}